body{
    margin: 0;
    padding: 0;
}
.nav{
    height: 50px;
    width: 100%;
    background-color: rgb(6, 1, 1);
    display: flex;
    justify-content:space-evenly;
}

h1{
    color: white;
    margin-top: 5px;
}
.container{
    height: 500px;
    width: 50%;
    border: 2px solid black;
    justify-content: center;
    margin: 15%;
    margin-left: 25%;
    margin-top: 5%;
    
    display: flex;
}

.buttons{
    height: 100px;
    width: 100%;
    border: 2px solid black;
    margin: 10px;
    margin-top: 20%;
}

#grey{
    background-color: gray;
    cursor: pointer;
}

#yellow{
    background-color: yellow;
    cursor: pointer;
}

#black{
    background-color: black;
    cursor: pointer;

}

#orange{
    background-color: orange;
    cursor: pointer;
}


.info{
    display: block;
}